/* Общие стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Создание тени */
    padding: 20px;
    animation: slide-up 0.5s ease forwards; /* Анимация с эффектом сглаживания */
}

/* Аниация смещение сверху вниз. Непрозрачности 0 и смещения вниз на 50px */
@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    transition: border-color 0.3s; /*  Добавляет главный переход при изменении цвета границы поля ввода */
}

input[type="text"]:focus {
    border-color: #4caf50;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer; /* Задает указатель при наведении на кнопку. */
    transition: background-color 0.3s; /* Добавляет плавный переход при изменении цвета фона кнопки. */
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none; /* Убирает стандартные маркеры списка. */
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    /* Располагает элементы списка в строку и выравнивает их по вертикали и горизонтали. */
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slide-left 0.3s ease forwards;
}

/* Анимаиця списка слева направо. */
@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Стили для выполненных задач */
.completed label {
    text-decoration: line-through; /* Добавляет перечеркивание к выполненным задачам. */
    color: #888;
}

.delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Добавляет плавный переход при изменении цвета фона кнопки удаления. */
}

.delete-btn:hover {
    background-color: #d32f2f;
}
